@import 'config';
@import 'menu';
@import 'mobile';

*{
    box-sizing: border-box ;
}

body{
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

// headings
h1,
h2,
h3 {
    margin: 0em;
    font-weight: 400;
    

      &.lg-heading{
        font-size: 5rem;
    }
      &.sm-heading{
          margin-bottom: 2rem;
          padding: 0.5em 0em;
          background:rgba(lighten($primary-color,2), 0.5),0.7;
      }
}
a {
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh-60px);

    .icons{
    margin-top: 1rem;
   
        
    a {
        padding: 0.4rem;
        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
    }
    
    }
    &#home {
        overflow: hidden; 
        h1 {
            margin-top: 20vh;
        }
    }
 }

 .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bioimage bio bio'
      'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
  
    .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: 3px solid $secondary-color ;
    }
  
    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }
  
    .job-1 {
      grid-area: job1;
    }
  
    .job-2 {
      grid-area: job2;
    }
  
    .job-3 {
      grid-area: job3;
    }
  
    .job {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
  }
  
  #main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
  }

  //Loader pages
  .loader {       
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    color: #1c1e21;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    letter-spacing: 15px;
    animation: animate 1.4s linear infinite;

}

@keyframes animate {
   0% {
       color: #1c1e21;
       text-shadow: none;
   } 
   90% {
       color: #1c1e21;
   }
   100% {
       color: #08be9b;
       text-shadow: 0 0 7px #08be9b, 0 0 50px #08be9b;
   }
}
ul li:nth-child(1){
    animation-delay: .2s;
} 
ul li:nth-child(2){
    animation-delay: .4s;
}
ul li:nth-child(3){
    animation-delay: .6s;
}
ul li:nth-child(4){
    animation-delay: .8s;
}
ul li:nth-child(5){
    animation-delay: 1s;
}
ul li:nth-child(6){
    animation-delay: 1.2s;
}
ul li:nth-child(7){
    animation-delay: 1.4s;
}
  
  }

  .disppear {
      animation-delay: 2s;
      animation: vanish 2s forwards;
  }

  @keyframes vanish {
      100%{
          opacity: 4;
          visibility: hidden;
      }
  }