$primary-color: #444;
$secondary-color: rgb(8, 247, 28);

*{
    box-sizing: border-box ;
}

body{
    background-color: $primary-color;
    color: white;
    height: 100%;
    margin: 0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

// headings
h1,
h2,
h3{
    margin: 0em;
    font-weight: 400;

      &.lg-heading{
        font-size: 5rem;
    }
      &.sm-heading{
          margin-bottom: 2rem;
          padding: 0.5em 1em;
          background-color: lighten($color:#444, $amount: 0);
      }
}
a {
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    
 }